@import "../Variables/Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@900&family=Staatliches&display=swap");
#enjoy {
  position: absolute;
  color: rgb(165, 219, 250);
  top: 810px;
  margin: 0 auto;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Pacifico';
}

#welcome-header {
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 100%;
  z-index: 10;
  top: 0;
  text-transform: uppercase;
  font-family: 'Pacifico';
}

#avatar {
  // margin-top: -500px;
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 1px 1px 50px 10px white, 1px 1px 80px 20px rgb(84, 84, 240),
    1px 1px 100px 30px $flamingoColor;
}

#card2 {
  background-image: url("https://images.unsplash.com/photo-1525253086316-d0c936c814f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cHVwcGllc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  position: absolute;
  width: 385px;
  margin-top: 780px;
  height: 530px;
  background-repeat: no-repeat;
  border: 2px solid $whiteColor;
}

#card1 {
  margin-top: 420px;
  border: 2px solid white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: absolute;
  top: 200px;
  margin-left: 45px;
}

.bowl {
  width: 300px;
  height: 300px;
  position: relative;
  background: rgb(41, 41, 41);
  border-radius: 50%;
  border: 8px solid transparent;
  transform-origin: bottom center;
  animation: animate 5s linear infinite;
  border: 1px solid rgb(235, 204, 204);
}


.bowl::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 30px;
  border: 15px solid rgb(211, 253, 250);
  border-radius: 50%;
  box-shadow: 0 10px #222;
}

.bowl::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 150px;
  height: 80px;
  background: rgba(255, 255, 255, 0.05);
}

.liquid {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #41c1fb;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(0 0 80px #41c1fb);

  transform-origin: top center;
  animation: animateLiquid 5s linear infinite;
}

.liquid::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: #1fa4e0;
  border-radius: 50%;
  filter: drop-shadow(0 0 80px #41c1fb);
}

.shadow {
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

// .vapour {
//   position: relative;
//   display: flex;
//   z-index: -100;
//   padding: 0 20px;
// }

// .vapour span {
//   position: relative;
//   bottom: 50px;
//   display: block;
//   margin: 0 5px 500px;
//   min-width: 8px;
//   height: 120px;
//   background: #fff;
//   border-radius: 50%;
//   animation: animateFlow 2s linear infinite;
//   opacity: 0;
//   filter: blur(8px);
// }

.vapour1 {
  position: relative;
  display: flex;
  z-index: -100;
  padding: 0 20px;
}

.vapour1 span {
  position: relative;
  bottom: 150px;
  display: block;
  margin: 0 10px 50px;
  min-width: 8px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  filter: blur(8px);
  animation: animateFlow 1.5s linear infinite;
}
.vapour2 {
  position: relative;
  display: flex;
  z-index: -100;
  padding: 0 20px;
}

.vapour2 span {
  position: relative;
  bottom: 200px;
  display: block;
  margin: 0 5px 100px;
  min-width: 5px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  filter: blur(8px);
  animation: animateFlow 1s linear infinite;
}



@keyframes animateFlow {
  0% {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15% {

    opacity: 1;
  }
  50% {
    transform: translateY(-150px) scaleX(5);
  }
  95% {

    opacity: 0;
  }
  100% {
    transform: translateY(-300px) scaleX(10);
  }
}



@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(0deg);
  }
}

@keyframes animateLiquid {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
