html,
body,
#react-root {
height: 100%;
width: 100%;
}

body {
  /* background-image: url('https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=626&q=80');
  background-size: cover; */
  /* background-color: #9FAE93; */
  /* background-image: linear-gradient(#9FAE93, rgb(71, 104, 10),rgb(17, 130, 175)); */
  border-radius: 10px;
  background-color: #579471;
  /* background-image: url('login-man.png'); */
  background-size: cover;
  background-position: -350px 0px;
  min-height: 100%;
  min-width: 100%;
  display: block;
  margin: 0;

}


/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */



/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */



input {
  margin: 5px;
  margin-bottom: 10px;
}

#about-button {
  color: white;

  font-weight: 900;
  text-shadow: 1px 1px 1px black;

  bottom: 30px;
  left: 120px;
  display: flex;

  border-top: 8px solid #61A568;
  border-radius: 5px;

  
  position: absolute;
}
