@import '../Variables/Variables.scss';


#welcome {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color: white;
    position: absolute;
    }

    .logo {
        z-index: 10000;
        height: 200px;
        width: 100px;
        margin: 0 auto;
        display: flex;
        transform: rotate(90deg);
        margin-top: -100px;
        // position: absolute;
    
    }
    
    .formPanel {
    width: 100%;
    height: 100%;
    background: #a197ff71;
    box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 54px 54px 0px 0px;
    backdrop-filter: blur(10px);
    margin-top: 100px;
    position: absolute;
    }
    
    #user-input {
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    }
    
    #password-input {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
    }
    
    #login {
    outline: 0;
    cursor: pointer;
    align-items: center;
    display: flex;
    // padding: 1;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background-color: transparent;
    
    font-weight: 900;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
    
    height: 70px;
    width: 90%;

    
    // margin-top: 10px;
    // margin-left: 20px;
    margin: 0 auto;
    
    letter-spacing: 5px;
    
    }
    
    #register {
        outline: 0;
        cursor: pointer;
        align-items: center;
        display: flex;
        // padding: 1;
        border: 1px solid $whiteColor;
        color: white;
        border-radius: 5px;
        background-color: transparent;

        font-weight: 900;
        font-size: 20px;
        text-shadow: 1px 1px 1px black;
        
        height: 1px;
        width: 90%;
    
        margin: 0 auto;
        
        letter-spacing: 5px;
    
    }

    .create-account {
        text-align: center;
        margin: 0 auto;
        background-color: #a197ff71;
        backdrop-filter: blur(5px);
    }
    
    #trouble {
        outline: 0;
    cursor: pointer;
    padding: 1;
    border: none;
    color: white;
    background-color: transparent;
    
    
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    
    height: 30px;
    
    
    margin-left: 20px;
    
    
    display: flex;
    margin-top: 1px;
    
    }

    