@import '../Variables/Variables.scss';


#timesheet-item-list {
    color: $whiteColor;
    list-style: none;
    text-align: center;
    
}

// table {
//     background-color: $windowBack;
// }

// td {
//     background-color: red;
// }
