@import '../Variables/Variables.scss';


#timesheet-item-list {
    // color: $whiteColor;
    list-style: none;
    text-align: center;
    color: red;

    
}

td {
    border: 1px solid $whiteColor;
}


#alert-delete {
    bottom: 10px;
    margin-bottom: 500px;
}







