@import '../Variables/Variables.scss';


#timesheet-item-list {
    color: $whiteColor;
    list-style: none;
    text-align: center;

    
}

td {
    border: 1px solid $whiteColor;
}


#alert-delete {
    top: 0;
    position: absolute;
}







