@import '../Variables/Variables.scss';


    #TimeSheetForm {
        background-color: rgba(255, 255, 255, 0.568);
        height: 620px;
        width: 95%;
        margin: 0 auto;
        margin-top: 60px;
    
        border-radius: 10px;
        border: 4px solid $whiteColor;
        box-shadow: 1px 1px 20px 3px rgb(255, 255, 255);
        color: white;
        backdrop-filter: blur(5px);
    }

    #note-form {
        background-color: rgba(212, 209, 209, 0.164);
        color: rgb(0, 0, 0);
    }

    #success-alert {
        top: 0;
    }

    #form-exit {
        font-size: 50px;
        position:absolute;
        color: rgb(255, 245, 245);
        top: 8px;
        left: 10px;
    }