#timesheet-form {
    background-color: red;
    height: 860px;
    margin-left: -8px;
    margin-top: -38px;
    background-image: url('https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=652&q=80');
    background-size: cover;
    background-position: -80px 0px;
}

#timesheet-form-header {
    color: white;
}

#form-inputs {
    background-color: #4444;
    height: 625px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid white;

}

#form-inputs * {
    margin: 1rem 1rem;
    margin-top: 50px;
}

#form-name {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    
}

#form-date {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
}
#form-in {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: inline;
}

#form-out, #form-mileage {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

#form-notes {
    width: 250px;
    height: 125px;
    border-radius: 10px;
}


#submit-form {
    outline: 0;
cursor: pointer;
padding: 1;
border: 1px solid white;
color: white;
border-radius: 5px;
background-color: transparent;

font-weight: 900;
font-size: 20px;
text-shadow: 1px 1px 1px black;

height: 30px;
width: 300px;

margin-top: 10px;
margin-left: 48px;

letter-spacing: 5px;
}