@import '../Variables/Variables.scss';


#submit-form {
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    
    height: 50px;
    width: 300px;
    
    margin-left: 43px;
    position: absolute;
    bottom: 20px;
    
    letter-spacing: 5px;
    backdrop-filter: blur(10px);
    } 

    #TimeSheetForm {
        background-color: rgba(255, 255, 255, 0.568);
        height: 620px;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
    
        border-radius: 10px;
        border: 4px solid $whiteColor;
        box-shadow: 1px 1px 20px 3px rgb(255, 255, 255);
        color: white;
        backdrop-filter: blur(5px);
    }

    #note-form {
        background-color: rgba(212, 209, 209, 0.164);
        color: rgb(0, 0, 0);
    }

    #success-alert {
        top: 0;
    }

    #form-exit {
        font-size: 50px;
        position:absolute;
        color: rgb(255, 245, 245);
        top: 8px;
        left: 10px;
    }