@import "../Variables/Variables.scss";

#one {

    text-align: center;
    // background-image: url('');
    background-color: #4444;
    margin-top: -29px;
    // border: 5px solid rgb(255, 253, 132);
    border-bottom: 10px solid $mainPurple;
    border-style:double;
    // background-color: $mainPurple;

}

.client-details-pic {
    border-radius: 30px;
    border: 5px solid rgb(255, 255, 255);
    height: 300px;
    width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatar-details {
    margin: 0 auto;
}

#client-header-name {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: $mainPurple;
    backdrop-filter: blur(5px);
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
}


