@import "../Variables/Variables.scss";

#one {
    color: rgb(59, 59, 59);
    font-size: 10px;
    text-align: center;
    // background-image: url('');
    background-color: rgba(98, 179, 255, 0.568);
    margin-top: -29px;
    height: 500px;
    // border: 5px solid rgb(255, 253, 132);
    border-bottom: 10px solid rgb(0, 0, 0);
    border-style: dotted;

}

.client-details-pic {
    border-radius: 30px;
    border: 5px solid rgb(255, 255, 255);

}

