footer {
  margin-top: 80px;
  padding: 20px;
  text-align: center;
  background-color: #5555555b;
}

#home-button {
  background-color: #879B36;
  height: 200px;
  width: 200px;
  color: white;
}

#logout-button{
  border: none;
  cursor: pointer;
  outline: 0;
  color: white;
  background-color: red;
}