@import "../Variables/Variables.scss";


footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
}




// footer {
//   background-color: #363636ec;
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: 70px;
//   box-shadow: 1px 1px 10px 3px rgb(165, 186, 255);
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
// }

#box {
  border: 10px solid white;;
}

#footer-list {
  background-color: #8788e7;
  border-bottom: 10px solid rgb(252, 252, 252);
  border-radius: 10px;
}

#second-footer-list {
  background-color: #8788e7;
  border-bottom: 10px solid rgb(252, 252, 252);
  border-radius: 10px;
}

#footer-profile {
  color: $whiteColor;
  font-size: 50px;
  margin: 0;
}

#footer-client,#footer-add-label,#footer-chat-label, #footer-client-label,#footer-add,#footer-chat {
  color: $whiteColor;
  font-size: 20px;
  margin: 0 auto;
}

#footer-profile-label {
  color: $whiteColor;
  font-size: 30px;
}



#footer-footer {
  background-color: #fffa5d;
  border-radius: 10px;
}
#home-icon {
  // background-color: #879b36;
  // height: 100%;
  // width: 80px;
  // color: white;
  // border: 3px solid rgba(255, 255, 255, 0.83);
  // box-sizing: border-box;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // border-radius: 10px;
  // align-items: center;
  // box-shadow: 1px 1px 10px 3px rgb(2, 2, 2);
  // margin-right: 85px;
  background-color: #5e5e5e80;
  height: 100%;
  width: 80px;
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.83);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  align-items: center;
  box-shadow: 1px 1px 10px 3px rgb(2, 2, 2);
  margin-left: 70px;
}

#home-icon:active {
  box-shadow: 1px 1px 10px 3px rgb(124, 255, 255);
}

#format-lines {
  margin-left: 10px;
  float: left;
  font-size: 60px;
  border-radius: 10px;
  // color: $windowBack;
  color: rgba(204, 204, 204, 0.555);
  height: 100%;
  width: 80px;
}

#format-lines:active {
  color: $whiteColor;
  box-shadow: 1px 1px 10px 3px rgb(124, 255, 255);
}

#logout-footer {
  color: $flamingoColor;
  font-size: 20px;
}

#logout-footer-icon {
  color: $flamingoColor;
  font-size: 50px;
}


#drawer {
  position: fixed;
  z-index: 10;
}

