@import "../Variables/Variables.scss";

.specific-client-exit {
    color: white;
    margin-bottom: 30px;
}

.logo-client {
    height: 1000px;
    position: absolute;
    margin-top: 60px;
    z-index: -1;
    color: #b1e0ff3f;
    margin-left: -80px;
}

#client-buttons {
    // margin: 0 auto;
    color: rgb(119, 3, 119);
    right: 10px;
    background-color: #4444;
    position: absolute;
    border-radius: 10px;
    margin: 0 auto;
}